#buy{
    text-align: center;
}

.buy_card{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards img{
    width: 220px;
    height:200px;
}

#img{
    width: 220px;
     height:200px;
     /* object-fit: contain; */
     /* object-fit: cover; */
     /* object-fit: fill; */
     /* object-fit: scale-down; */
     /* object-fit: inherit; */
     object-position: -17px;
}

.cards{
    display: inline-block;
    justify-content: space-around;
    margin: 75px;
    /* box-sizing: border-box; */
    /* padding: 50px; */
    position: relative;
    height: 373px;
    width: 225px;
    border: 1px solid white;
    transform-style: preserve-3d;
    transition: 0.9s;
/* overflow:hidden; */
/* align-items: center;
justify-content: center; */
    padding: 0%;

}

#btn2{
    background-color: #2F8F9D;
    margin-left: 5%;
}

.side{
    position: absolute;
    left: -1px;
    top: -1px;
    border: inherit;
}
.lef{
    width: 50px;
    height: 373px;
    background-color: #444B;
    transform-origin: left;
    transform: translateX(223px) rotateY(90deg);
}

.bottom{
    width: 225px;
    height: 50px;
    background-color: #4445;
    transform-origin: top;
    transform: translateY(370px) rotateX(-90deg); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconify.two{
    cursor: pointer;
    width: 20px;
    height: 30px;
    border: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.4s;
}

.cards:hover{
    transform: rotateX(60deg) rotateY(-20deg);
    transition-delay: 1s;

}
.side .main{
  box-sizing: border-box;

}