@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


.user{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;

}

.login-form{
    margin-top: 7%;
}

.user::before{
    content: '';
    position: fixed;
    height: 58vh;
    width: 100%;
    /* background-image: url('https://media.istockphoto.com/photos/group-of-different-kind-of-pets-like-cat-dog-rabbit-mouse-chinchilla-picture-id1283692900?k=20&m=1283692900&s=612x612&w=0&h=c1vdtMPyUdtVkLLaQ0SQ3vKBQBpNYWStCI0kAlzvBeg='); */
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
filter: blur(10px);  
-webkit-filter: blur(10px); 
-moz-filter:blur(10px);

}
.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%) ;
    -moz-transform:translate(-50%,-50%) ;
    transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%) ;
    -o-transform:translate(-50%,-50%) ;
    width: 400px;
    height: 450px;
    padding: 80px 40px;
    background: rgba(0, 0, 0, 0.6);
}
.avatar{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    top: calc(-40px/2);
    left: calc(50% - 40px);
}
.login-form h2{
    margin: 0;
    padding: 0 0 20px;
    color:#fff;
    text-align: center;
    text-transform: uppercase;

}
.login-form p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}
.login-form input{
    width: 100%;
    margin-bottom: 20px;

}
.login-form input[type=text],
.login-form input[type=email],
.login-form input[type=password]{
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 35px;
color:#fff;
font-size: 15px;
}
.login-form input[type=submit]{
    height: 30px;
    color: #fff;
   font-size: 15px;
   background-color: #7DAFAF ;
width: 70%;
margin-left: 13%;
   /* background: red; */
   cursor: pointer;
border-radius: 25px;
border: none;
outline: none;
margin-top: 5%;
}
input[type=checkbox]{
    width: 15%;
}